# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=

# Redis
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Service HTTP Ports
API_GATEWAY_PORT=3000
AUTH_HTTP_PORT=3001
PRODUCT_HTTP_PORT=3002
ORDER_HTTP_PORT=3003
PAYMENT_HTTP_PORT=3004
INVENTORY_HTTP_PORT=3005
NOTIFICATION_HTTP_PORT=3006